<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="File" name="requests" fileName="/var/log/bgApi/requests.${shortdate}.log"
                layout="${longdate}|${message}"
                maxArchiveFiles="7"/>
        <target xsi:type="File" name="requestAndParameters" fileName="/var/log/bgApi/requestsAndParameters.${shortdate}.log"
                layout="${longdate}|${message}"
                maxArchiveFiles="2"/>
        <target xsi:type="File" name="errors" fileName="/var/log/bgApi/errors.${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${exception:format=tostring}"
                maxArchiveFiles="7"/>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="RequestsLog" minlevel="Trace" writeTo="requests" />
        <logger name="ParametersLog" minlevel="Trace" writeTo="requestAndParameters"/>
        <logger name="ErrorsLog" minlevel="Trace" writeTo="errors" />
    </rules>
</nlog>